.addAssetBackground {
    background-color: #f2f5f9;
    width: 100vw;
}

.addAsset {
    background-color: white;
    max-width: 1000px;
    display: block;
    margin: auto;
    padding: 2rem;
}

.col {
    margin: 0 !important;
}

.addAssetsButton {
    width: fit-content !important;
    margin: 1rem 0.5rem 0 0.5rem!important;
    float: right;
}

.addAssetsCancelButton {
    width: fit-content !important;
    margin: 1rem 0.5rem 0 0.5rem !important;
    float: right;
    color: black !important;
    background-color: white !important;
}

.addAssetsBackButton {
    margin: 1rem 0.5rem 0 0.5rem !important;
}

table tr:nth-child(even) {
    background-color: rgb(227, 242, 250) !important;
}

table tr:nth-child(odd) {
    background-color: rgb(255, 255, 255) !important;
}

.uploadedfile{
    background-color:#edfaeb;
    border: 1px ridge #7edc7e !important;
    padding: 24px;
}

.heading {
    background-color: unset !important;
    padding: 0 !important;
    margin: 0;
    color: grey;
    font-weight: bold;
}