.campaignDetailBackground {
    background-color: #f2f5f9;
}

.campaignDetailPage{
    max-width: 1000px;
    margin: auto;
}

.top-section > .row > .col {
    display: flex;
    flex-direction: column;
}

.advertiserAssetsTable{
    width: inherit;
    overflow: auto;
}

.column > .row > .col > h6 {
    color: gray;
    margin: 0px;
    font-size: small;
}

.column > .row > .col > p {
    color: black;
    font-weight: 600;
    margin: 0px !important;

}

.column > .row > .col-md-4 > h6 {
    padding: 2px 10px 2px 10px;

    color: #808080;
    font-weight: 600;
    margin: 0px;
    font-size: 14px;
    background-color: #f2f5f9;
}

.column > .row > .col-md-4 > p {
    color: black;
    font-weight: 600;
    margin: 0px !important;
}


.middle-section{
    background-color: white;
}

.bottom-section{
    background-color: white;
    margin-top: 2px;
}

.editButton {  
    margin: 1rem 0.5rem 0 0.5rem !important;
    float: right;
    
}

.backButton {
    width: fit-content !important;
    margin: 1rem 0.5rem 0 0.5rem !important;
    float: right;
    color: black !important;
    background-color: white !important;
}

.downloadAllButton {
    width: fit-content !important;
    margin: 1rem 0.5rem 0 0.5rem !important;
}
