.changePasswordBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin-top: 7%;
}

.changePassword{
    background-color: #f2f5f9;
    width: 100vw;
    height: 100vh;
}