.uploadedfile{
    background-color:#edfaeb;
    border: 1px ridge #7edc7e !important;
    padding: 24px;
}

.heading {
    background-color: unset !important;
    padding: 0 !important;
    margin: 0;
    color: grey;
    font-weight: bold;
}