.background {
    background-color: #f2f5f9;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

.imageBox {
    margin-bottom: 1rem;
}

.formBox {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    align-items: center;
}

.loginButton {
    width: 100%;
    height: 3rem;
    margin-top: 2%;
}

.forgotPasswordButton{
    margin-top: 1rem;
    width: fit-content;
}