.addNewAdvertiserBackground {
    background-color: #f2f5f9;
    width: 100%;
}

.addNewAdvertiser {
    background-color: white;
    max-width: 1000px !important;
    display: block;
    margin: auto !important;
    padding: 2rem;
}

.backgroundGrey {
    background-color: #f2f5f9;
    padding: 0.3rem;
    font-weight: bold;
    color: gray;
    margin-left: 15px;
    margin-right: 15px;
}

.addAdvertiserButton {
    width: fit-content !important;
    margin: 1rem 0.5rem 0 0.5rem !important;
    float: right;
}

.addAdvertiserCancelButton {
    width: fit-content !important;
    margin: 1rem 0.5rem 0 0.5rem !important;
    float: right;
    color: black !important;
    background-color: white !important;
}